<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Bank Learning System</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="page-body login-page login-form-fall">

    <div class="login-container">

      <div class="login-header login-caret">

        <div class="login-content">
          <a href="index.html" class="logo">
            <%= image_tag "logo.png" %>
          </a>

          <p class="description">Ruby Banking System. Please log in!</p>
        </div>

      </div>


      <div class="login-form">

        <div class="login-content">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>

      </div>

    </div>
  </body>
</html>